{% extends "base.html" %}
{% block content %}
		<h1>Add new Comment Entries.</h1>
		<form name="comment_add" method="post" action="/comment/">
		<table>
				<tr>
					<td>User_Id:</td>
					<td><input type="text" name="user_id"/></td>
				</tr>
				<tr>
					<td>Post_Id:</td>
					<td><input type="text" name="post_id"/></td>
				</tr>
				<tr>
					<td>Comment:</td>
					<td><input type="text" name="comment"/></td>
				</tr>
				<tr>
					<td>Comment_Time:</td>
					<td><input type="text" name="comment_time"/></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit" value="Add Entry"/></td>
					<td> </td>
				</tr>
		</table>
		</form>
{% endblock %}