{% extends "base.html" %}
{% block content %}
    <h1>Update Your Profile</h1>
    <form method="post" class="form-horizontal">
        {{ form.csrf_token }}
        <div class="control-group">
            {{ form.full_name.label(class="control-label") }}
            <div class="controls">
                {{ form.full_name }}
            </div>
        </div>
        {% set is_error = "email" in form.errors %}
        <div class="control-group {% if is_error %}error{% endif %}">
            {{ form.email.label(class="control-label") }}
            <div class="controls">
                {{ form.email }}
                {% if is_error %}
                <ul class="help-block">
                    {% for error in form.errors["email"] %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="control-group">
            {{ form.mini_profile.label(class="control-label") }}
            <div class="controls">
                {{ form.mini_profile }}
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn" value="Update">
        </div>
    </form>
{% endblock %}
