{% extends "base.html" %}
{% block content %}
		<h1>Edit Tag Entries.</h1>
		<form id="edit-form" name="tag_add" method="put" action="/tag/{{ tag_item.id }}">
		<input type="hidden" id="url" value="/tag/{{ tag_item.id }}">
		<table>
				<tr>
					<td>Desc:</td>
					<td><input type="text" name="desc" value="{{ tag_item.desc }}"/></td>
				</tr>
				<tr>
					<td><input id="submit-put" type="submit" name="submit" value="Edit Entry"/></td>
					<td> </td>
				</tr>
		</table>
		</form>
{% endblock %}