{% extends "base.html" %}
{% block content %}
		<h1>List of Post Entries.</h1>
		<table id="list-view">
			<thead>
				<tr>
					<td><b>ID</td>
					<td><b>Title</b></td>
					<td><b>Content</b></td>
					<td><b>User_Id</b></td>
					<td><b> </td>
					<td><b> </td>
				</tr>
			</thead>
			{% if post_entries %}
			<tbody>
			{% for entry in post_entries %}
				<tr>
					<td><a href="/post/{{ entry.id }}">{{ entry.id }}</a></td>
					<td>{{ entry.title }}</td>
					<td>{{ entry.content }}</td>
					<td>{{ entry.user_id }}</td>
					<td><a href="/post/edit/{{ entry.id }}">Edit</a></td>
					<td><a id="delete-link" data-callback="/post/" data-url="/post/{{ entry.id }}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			{% else %}
		</table>
		You have no entries yet
			{% endif %}
			<br/><br/><b><a id="actions" href="/post/add">Add new entry</a></b>
{% endblock %}
